{% extends 'base.html.twig' %}

{% block title %}Create New Ads{% endblock %}

{% form_theme form _self %}

{% block body %}

    <div class="container">
        <h1>Create a new Ads</h1>

        {{ form_start(form) }}

        {{form_widget(form)}}

        <button type="submit" class="btn btn-primary"> Create a new ad</button>

        {{ form_end(form) }}
    </div>

{% endblock %}

{# defini l'affichage d'une entree du sous formulaire  #}
{% block _annonce_pics_widget %}
    <p>Here you can add more pictures !!</p>

    {{ form_widget(form) }}

    <input type="hidden" id="widgets-counter" value="0">

    <div class="form-group">
        <button type="button" id="add-image" class="btn btn-primary">Add a picture</button>
    </div>
{% endblock %}

{% block _annonce_pics_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _annonce_pics_entry_widget %}
    <div class="form-group " id="block_{{id}}">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col">
                        {{ form_widget(form.url) }}
                        {{ form_errors(form.url) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.caption) }}
                        {{ form_errors(form.caption) }}
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button type="button" data-action="delete" data-target="#block_{{id}}" class="btn btn-danger">X</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('#add-image').click(function(){
            // je recupere le numero des futurs champs que je vais creer
            const index = +$('#widgets-counter').val();

            // je recupere le prototype des entrees 
            const template = $('#annonce_pics').data('prototype').replace(/_name_/g, index);

           // j'injecte ce code au sein de la div
            $('#annonce_pics').append(template);

            $('#widgets-counter').val(index + 1);

            // manage delete button
            handleDeleteButtons();
        });

        // Creating button delete function
        function handleDeleteButtons(){
            $('button[data-action="delete"]').click(function(){
                const target = this.dataset.target;
                $(target).remove();
            });
        }

            // manage delete button
            handleDeleteButtons();

    </script>
{% endblock %}