{% extends 'base.html.twig' %}

{% block title %}{{ ad.title }}{% endblock %}

{% block body %}

<div class="ad-title" style="background-image: url({{ ad.coverImage }})">
    <div class="container">
        <h1>{{ ad.title }}</h1>
        <p>{{ ad.introduction }}</p>
        <p class="h2">
            <strong>{{ ad.rooms}} rooms </strong> for <strong> {{ ad.price | number_format(2, ',', ' ') }}&euro; </strong> per night
        </p>
        <a href="{{ path('booking_create', {'slug': ad.slug}) }}" class="btn btn-primary mb-3">Book !</a>

            {% if app.user and app.user == ad.author %}
                <a href="{{ path('ads_edit', {'slug': ad.slug}) }}" class="btn 
                btn-secondary mb-3">Modify your Ad</a>
                <a href="{{ path('ads_delete', {'slug': ad.slug}) }} " class="btn btn-danger mb-3" 
                onclick="return confirm(`Are you sure you want to delete the Ad :
                 {{ad.title}} ? `)"> Delete your AD</a>
            {% endif %}
    </div>
</div>
{# Carroussel #}
<div class="container ">
    <div class="row " >
        <div class="col-md-8 mb-3">
            {{ ad.content | raw }}

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for pic in ad.pics %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" {% if loop.first %} class="active" {% endif %} ></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for pic in ad.pics %}
                    <div class="carousel-item {% if loop.first %} active {% endif %}">
                            <img src="{{ pic.url }}" class="d-block w-100" alt="Caroussel Slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h4>{{ ad.title }}</h4>
                            <p>{{ pic.caption }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <hr>
            {% if ad.comments|length >0 %}
                <h2 class="mb-3">Previous Guest Comments</h2>

                {# display average rating for each ad  #}
                <div class="alert alert-info">
                    <h4 class="alert-heading text-center">
                        <div class="row align-items-center">
                            <div class="col">
                                Average rating given by previous guest(s) 
                            </div>
                            <div class="col">
                                {% include "template_parts/_rating.html.twig" with {'rating': ad.avgRatings } %}
                                <br>
                                <small>(based on {{ad.comments|length}} comment(s) )</small>
                            
                            </div>
                        </div>
                    </h4>
                </div>

                {# display previous guest comment and rating #}
                {% for comment in ad.comments %}
                    <div class="bg-light rounded mb-3 py-3 px-3">
                        <strong>{{ comment.author.firstName }}</strong> say :
                        <blockquote>
                            {{ comment.content }}
                        </blockquote>
                        <strong> Rating gived : </strong>
                       {% include "template_parts/_rating.html.twig" with {'rating': comment.rating} %} 
                    </div>
                {% endfor %}
            {% else %}
                <h2> This ad have not been rated yet !!</h2>
            {% endif %}
        </div>

        <div class="col">
            {% set ad = ad.author %}
            <div class="row mb-3 align-items-center">
                <div class="col-3">
                    <a href="{{ path('user_show', {'slug': ad.slug}) }}">
                    <img src="{{ad.picture}}" class="avatar avatar-medium" alt="avatar of {{ad.fullName}}">
                    </a>
                </div>
                <div class="col">
                    <a href="{{ path('user_show', {'slug': ad.slug}) }}">
                        <h3> {{ad.fullName}} </h3>
                    </a>
                    <a href="{{ path('user_show', {'slug': ad.slug}) }}">
                        <span class="badge badge-primary">{{ad.ads | length}} offers </span>
                    </a>
                </div>
            </div>
            {{ad.description | raw}}
        </div>
    </div>
</div>
              
      
{% endblock %}
