{% extends 'base.html.twig' %}

{% block title %}Booking n#  {{ booking.id }}  !{% endblock %}

{% block body %}

{% set ad = booking.ad %}
{% set author = ad.author %}

    <div class="container">
        <h1> Your booking (n# {{booking.id}})</h1>

        <div class="row">
            <div class="col">
               <div class="alert alert-light">
                    <h2>Details</h2>
                    <div class="row">
                        <dt class="col-md4">Booking number :</dt>
                        <dd class="col-md-8">{{booking.id}}</dd>
                    </div>
                    <div class="row">    
                        <dt class="col-md4">Check-in date :</dt>
                        <dd class="col-md-8">{{booking.startDate | date('d/m/Y')}}</dd>
                    </div>
                    <div class="row">
                        <dt class="col-md4">Check-out date :</dt>
                        <dd class="col-md-8">{{booking.endDate | date('d/m/Y')}}</dd>
                    </div>
                    <div class="row">
                        <dt class="col-md4">Number of night(s) :</dt>
                        <dd class="col-md-8">{{booking.duration}}</dd>
                    </div>
                    <div class="row">
                        <dt class="col-md4">Total Amount :</dt>
                        <dd class="col-md-8">{{booking.amount}} €</dd>
                    </div>
                    <div class="row">
                        <dt class="col-md4">Comments :</dt>
                        <dd class="col-md-8">{{booking.comment}}</dd>
                    </div>

                    <hr>

                    <h2 class="alert-heading">Your Host</h2>

                    <div class="row mb-3">
                        <div class="col 3">
                            <img src="{{author.picture}}" class="avatar avatar-medium"
                             alt="avatar of {{author.fullName}}">
                        </div>
                        <div class="col-9">
                            <h4>
                                <a href=" {{path('user_show', {'slug': author.slug}) }} ">
                                {{ author.fullname }}</a>
                            </h4>
                            <span class="badge badge-primary"> {{author.ads|length}} offer(s) </span>
                        </div>
                    </div>
                    {{author.description | raw}}

                    <a href=" {{ path("user_show", {'slug': author.slug}) }}" class="btn btn-primary"> More info from {{author.firstName}}</a>
               </div> 
            </div>
            <div class="col">
            <div class="alert alert-light">
                <h2 class="alert-heading"> Your Accomodation</h2>

                <h4>
                    <a href="{{ path('ads_show', {'slug': ad.slug}) }}">{{ad.title}}</a>
                </h4>

                <img src="{{ad.coverImage}}" alt="{{ad.title}} picture" class="img-fluid">

                {{ad.content | raw}}

                <a href="{{path('ads_show', {'slug': ad.slug}) }}" class="btn btn-primary"> More info</a>
            </div>
            </div>
        </div>
    </div>


{% endblock %}