{% extends 'base.html.twig' %}

{% block title %}Your Bookings {% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-2">My Bookings</h1>
        <div class="alert alert-info mt-2">
            <p>Find below all your previous and up coming Bookings</p>
        </div>

        {% for booking in app.user.bookings %}
            {% set ad = booking.ad %}
        <div class="alert alert-light">
            <div class="row mt-3">
                <div class="col-md-4">
                    <img src="{{ad.coverImage}}" alt="Ad picture 
                    {{ad.title}}" class="img-fluid">

                  <div class="mt-3">
                    {% set comment = ad.commentFromAuthor(app.user) %}
                        {% if comment is not null %}
                            <strong> Rating given : </strong>
                            {% include "template_parts/_rating.html.twig" with {'rating': comment.rating} %}
                    
                        {% else %}
                            You not have ranked any Ad.
                            <a href="{{ path('booking_show', {'id': booking.id}) }}#comment" 
                            class="btn btn-link"> I give my opinion</a>
                        {% endif %}
                  </div>  
                </div>
                <div class="col-md-8">
                    <h4>{{booking.ad.title}}</h4>
                    <p>
                        Booking <strong>n # {{booking.id}}</strong><br>
                        from {{booking.startDate|date('d/m/Y')}} to 
                            {{booking.endDate|date('d/m/Y')}} for a total amount : {{booking.amount | number_format(2, ',', ' ')}} &euro;
                    </p>
                    <a href="{{ path('booking_show', {'id': booking.id}) }}" class="btn btn-info">More info</a>
                </div>
            </div>    
            {% endfor %}
        </div>
    </div>
{% endblock %}