{% extends 'base.html.twig' %}

{% block title %}Modify password{% endblock %}

{% block body %}

<div class="container clearfix">
    <h1 class="my-2">Modify your Password !</h1>
    
    {{ form_start(form) }}
     <div class="row">
        <div class="col">
            <div class="alert alert-light clearfix">
                <h2 class="alert-heading"> Password Change</h2>
                <hr>
                {{ form_row(form.oldPassword) }}
                {{ form_row(form.newPassword) }}
                {{ form_row(form.confirmPassword) }}

                <p>If you have choosen your new password, you can : </p>
                <button type="submit" class="btn btn-primary float-right">
                    <i class="fas fa-save"></i>
                    Change Password
                </button>
            </div>
        </div>
    </div>    
    {{ form_end(form) }}
</div>

{% endblock %}