{% extends 'admin/adminBase.html.twig' %}

{% block title %}Comments Admin dashboard!{% endblock %}

{% block body %}

<div class="container-fluid">
    <h1 class="my-3">Manage Comments ✅</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th class="text-center">Date</th>
                <th class="text-center">Author</th>
                <th class="text-center">Comment</th>
                <th class="text-center">Rating</th>
                 <th class="text-center">Ad Title</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for comment in comments %}  
            <tr>
                <td>{{comment.id}}</td>
                <td>{{comment.createdAt | date('d/m/Y H:i')}}</td>
                <td><img src="{{comment.author.picture}}" alt="Avatar of {{comment.author.fullname}}"
                class="avatar avatar-mini mr-2">
                {{comment.author.fullName}}
                </td>
                <td>{{ comment.content }}</td>
                <td class="text-center">
                    <span class="badge badge-dark">{{comment.rating | number_format(1, ',', ' ')}}</span>
                </td>
                <td class="text-center">
                    <span class="badge badge-primary rounded">{{comment.ad.title}}</span>
                </td>

                <td>
                    <a href="{{ path('admin_comment_edit', {'id': comment.id}) }}" class="btn btn-primary my-1"><i class="fas fa-edit"></i></a>
                    <a href="{{ path('admin_comment_delete', {'id': comment.id}) }}" class="btn btn-danger my-1"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
